:root {
  --navbar-font-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --back-color-reactL: #282c34;
}

.contentSite {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  background-image: url(../../public/backcanva.jpg);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5a9;
  backdrop-filter: blur(2px);
  padding: 10px;
  transition: top 0.3s;
}

.Navbar.hidden {
  top: -60px; /* Schowaj navbar poza obszar ekranu */
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Navbar ul li {
  margin: 0 10px;
}

.Navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.Navbar ul li a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .Navbar {
    font-size: calc(10px + 2vmin);
  }
}

@media (max-width: 767px) {
  .Navbar {
    font-size: calc(10px + 4vmin);
  }
}
